<p>Hi there,</p>
<p>A user as submitted a query on the website.</p>
<p>
    First name: {{ first_name }}<br>
    Last name: {{ last_name }}<br>
    Contact number: {{ contact_number }}<br>
    Email: {{ email }}<br>
    Message: {{ message }}
</p>

